{% extends "dev/base.html" %}
{%load static %}
{% block menu %}
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="/">
        <span data-feather="home"></span>
        Home
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/smarthome/">
        <span data-feather="file"></span>
        Smarthome<span class="sr-only">(current)</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/aktien/">
        <span data-feather="shopping-cart"></span>
        Aktien
      </a>
    </li>
  </ul>
{% endblock menu %}

{% block submenu %}
  <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
    <span>Arbeitszimmer</span>
    <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
      <span data-feather="plus-circle"></span>
    </a>
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" href="/smarthome/temperatur/">
        <span data-feather="file-text"></span>
        Temperatur
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/smarthome/humidity/">
        <span data-feather="file-text"></span>
        Feuchtigkeit
      </a>
    </li>
    <!--<li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="file-text"></span>
        XXX
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">
        <span data-feather="file-text"></span>
        XXX
      </a>
    </li>
  -->
  </ul>
{% endblock submenu%}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Feuchtigkeit - Verlauf</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
{% endblock content %}

{% block script %}
<script>
    (function () {
    'use strict'

    feather.replace()

    // Graphs
    var ctx = document.getElementById('myChart')
    // eslint-disable-next-line no-unused-vars
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: [
          {%load static %}
          {% if climate %}
          {% for climate in climate %}
            '{{climate.time}}',
          {% endfor %}
          {% else %}
          No Information
          {% endif %}
        ],
        datasets: [{
          data: [
          {%load static %}
          {% if climate %}
          {% for climate in climate %}
            {{climate.humidity}},
          {% endfor %}
          {% else %}
          No Information
          {% endif %}
          ],
          lineTension: 0,
          backgroundColor: 'transparent',
          borderColor: '#007bff',
          borderWidth: 4,
          pointBackgroundColor: '#007bff'
        }]
      },
      options: {
        scales: {
          yAxes: [{
            ticks: {
              beginAtZero: false
            }
          }]
        },
        legend: {
          display: false
        }
      }
    })
  })()
</script>
{% endblock script %}
